[submodule "rikirobot"]
	path = rikirobot
	url = https://github.com/ykevin/rikirobot.git
[submodule "rplidar_ros"]
	path = rplidar_ros
	url = https://github.com/ykevin/rplidar_ros.git
[submodule "riki_msgs"]
	path = riki_msgs
	url = https://github.com/ykevin/riki_msgs.git
[submodule "ros_arduino"]
	path = ros_arduino
	url = https://github.com/ykevin/ros_arduino.git
[submodule "riki_pid"]
	path = riki_pid
	url = https://github.com/ykevin/riki_pid.git
[submodule "rikirobot_4wd"]
	path = rikirobot_4wd
	url = https://github.com/ykevin/rikirobot_4wd.git
[submodule "rikirobot_apps"]
	path = rikirobot_apps
	url = https://github.com/ykevin/rikirobot_apps.git
[submodule "rikirobot_nav"]
	path = rikirobot_nav
	url = https://github.com/ykevin/rikirobot_nav.git
[submodule "rikirobot_vision"]
	path = rikirobot_vision
	url = https://github.com/ykevin/rikirobot_vision.git
[submodule "frontier_exploration"]
	path = frontier_exploration
	url = https://github.com/ykevin/frontier_exploration.git
